@import '../../styles/variables';

@mixin row-base($padding-x: 2rem) {
  height: 3.125rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding: 0 $padding-x;
  box-sizing: border-box;
}

@mixin table-cell {
  flex: 1;
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: 400;
}

.employee-img {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  object-fit: cover;
}

.table,
.mobile-table {
  width: 100%;
  border-radius: 0.5rem;
  overflow: hidden;
  background: $white;
}

.table {
  border-spacing: 0;


  tr td{
        &:first-child {
          max-width: 124px;
        }

        &:last-child {
          max-width: 160px;
        }
  }

  thead {
    background: $primary-blue;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);

    tr {
      @include row-base;

      td {
        @include table-cell;
        color: $white;
        font-weight: 500;
        text-transform: uppercase;
      }
    }
  }

  tbody {
    tr {
      @include row-base;
      border-bottom: 1px solid $gray-10;

      td {
        @include table-cell;
        color: $black;
      }
    }
  }
}


.mobile-table {
  display: none;

  &__c-img{
    width: 43px;
  }

  &__employe-data {
    padding: 0.5rem 0 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;

    p {
        font-size: 1rem;
        color: $black;

        b {
            font-weight: 500;
            color: $gray-20;
        }
    }
  }


  header {
    @include row-base(1rem);
    background: $primary-blue;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);

    .dot{
        width: 0.5rem;
        height: 0.5rem;
        border-radius: 100px;
        background: $white;
        margin-left: auto;
        margin-right: 0.875rem;
    }

    span {
      color: $white;
      font-weight: 500;
      text-transform: uppercase;
    }
  }

  ul {
    list-style: none;

    li {
      details {
        border-bottom: 1px solid $gray-10;
        padding: 0 1rem;

        summary {
          @include row-base(0);
          gap: 1rem;
          cursor: pointer;

          strong {
            flex: 1;
          }

          .chevron{
            transition: 0.2s;
          }
        }

        &[open] {
            summary .chevron {
                transform: rotate(-180deg);
                transition: 0.2s;
            }
        }
      }
    }
  }
}

@media (max-width: 750px) {
  .table {
    display: none;
  }

  .mobile-table {
    display: block;
  }
}
